@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using Blog.NET.Areas.Identity.Data;
@using Blog.NET.Models;
@functions {
    public BlogNETUser GetUserById(string userId)
    {
        return Model._userManager.FindByIdAsync(userId).Result;
    }
}


<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3 text-primary">
                Welcome to <span class="text-dark">Blog.NET</span>
            </h1>
            <p class="lead">
                Explore insightful articles, share your thoughts, and be part of our vibrant community.
            </p>
        </div>
        <div class="col-12 col-lg-6">
            <img src="https://thumbs.dreamstime.com/z/indyjski-agent-call-center-pokazuje-ok-gest-pokazywanie-gestu-przeciwko-operatorom-pracuj%C4%85cym-w-jasnym-biurze-173649185.jpg"
                 class="d-block mx-lg-auto img-fluid rounded" alt="Blog Image" width="300">
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center mb-4">
        <div class="col-6 d-flex">
            @if (Model.Tags == null || Model.Tags.Count == 0)
            {
                <p>There are no tags to show.</p>
            }
            else
            {
                foreach (var tag in Model.Tags)
                {
                    <span class="badge bg-dark me-1">@tag.DisplayName</span>
                }
            }
        </div>
    </div>
</div>

<style>
    .card {
        border: none;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
    }

        .card:hover {
            transform: scale(1.05);
        }

    .card-img-top {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .card-body {
        text-align: left;
        padding: 1.25rem;
    }

    .card-title {
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 0.75rem;
    }

    .card-text {
        color: #555;
    }

    .btn-primary {
        background-color: #4CAF50;
        border: none;
        border-radius: 12px;
        padding: 8px 16px;
        font-size: 0.875rem;
    }

        .btn-primary:hover {
            background-color: #45a049;
        }

    .author {
        font-size: 0.875rem;
        color: #777;
        margin-bottom: 0.5rem;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            @if (Model.Posts == null || Model.Posts.Count == 0)
            {
                <p>There are no posts to show.</p>
            }
            else
            {
                foreach (var blogPost in Model.Posts)
                {
                    <div class="mb-5 card">
                        <img src="@blogPost.FeaturedImage" class="mb-2 card-img-top img-fluid" alt="@blogPost.Heading">
                        <div class="card-body">
                            <h2 class="mb-4 card-title">@blogPost.Title</h2>
                            <p class="mb-2 author">
                                Author:
                                <a href="/@(GetUserById(blogPost.UserId)?.UserName)">@GetUserById(blogPost.UserId)?.UserName</a>
                            </p>
                            <p class="mb-4">
                                Published on: @blogPost.CreatedAt.ToShortDateString()
                            </p>
                            <p class="mb-4">
                                @foreach (var tag in blogPost.Tags)
                                {
                                    <span class="badge bg-secondary me-1">@tag.DisplayName</span>
                                }
                            </p>
                            <p class="mb-4 card-text">@blogPost.Description</p>
                            <a class="btn btn-dark" asp-page-handler="update" asp-page="/BlogPost" asp-route-id="@blogPost.Id">Read more</a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

