@page "/{username}"
@model UserPosts

<h2 class="text-center mb-4 mt-5">Posts of @Model.Username</h2>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            @if (Model.Posts.Count == 0)
            {
                <p class="text-center">There are no posts to show.</p>
            }
            else
            {
                @foreach (var blogPost in Model.Posts)
                {
                    <div class="card mb-5 shadow">
                        <img src="@blogPost.FeaturedImage" class="card-img-top" alt="@blogPost.Heading">
                        <div class="card-body">
                            <h2 class="card-title">@blogPost.Title</h2>
                            <p class="card-text">
                                <small class="text-muted">Author: @Model.Username | Published on: @blogPost.CreatedAt.ToShortDateString()</small>
                            </p>
                            <p class="card-text">
                                @foreach (var tag in blogPost.Tags)
                                {
                                    <span class="badge bg-secondary me-1">@tag.DisplayName</span>
                                }
                            </p>
                            <p class="card-text">@blogPost.Description</p>
                            <a class="btn btn-dark" asp-page-handler="update" asp-page="/BlogPost" asp-route-id="@blogPost.Id">Read more</a>
                        </div>
                    </div>
                }

                <nav aria-label="Page navigation" class="text-center">
                    <ul class="pagination">
                        @for (var i = 1; i <= Model.TotalPages; i++)
                        {
                            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                                <a class="page-link" href="/@Model.Username?page=@i">@i</a>
                            </li>
                        }
                    </ul>
                </nav>
            }
        </div>
    </div>
</div>
